language: java
jdk:
  - oraclejdk7
script:
  - mvn clean install site
notifications:
  email:
    - alexander.willner@tu-berlin.de
    - leopalm@mailbox.tu-berlin.de
    - volker.jung@campus.tu-berlin.de
    - francoh@mail.tu-berlin.de
