.rounded-corners {
	
}

.outputBox {
	background: -webkit-linear-gradient(#FFFFFF, #EEEEEE);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FFFFFF, #EEEEEE);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #EEEEEE);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #EEEEEE); /* Standard syntax */
	width: 95%;
	height: 600px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #000000;
	padding: 10px;
	margin-bottom: 10px;
}

.adapterGraphics {
	
}

body{
	 background: -webkit-linear-gradient(#EEEEEE, #DDDDDD);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#EEEEEE, #DDDDDD);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#EEEEEE, #DDDDDD);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#EEEEEE, #DDDDDD); /* Standard syntax */
	
	
}